*{
  margin: 0;
  padding: 0;
}
body{
    background-color: black;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}
.clock{
    background-color: rgb(32, 42, 47);
    height:30vh;
    width:30vw;
    border: 2px solid white;
    box-shadow: 2px 2px 5px white ;
    border-radius:15px ;
}
.time{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    height: 85%; 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stopwatch{
    height: 5vh;
    width: 5vw;
    background-color: rgb(255, 187, 0);
    border: 2px solid yellow;
    border-radius: 15px;
    cursor: pointer; 
    color: rgb(9, 9, 9);  
    overflow: hidden;
    font-size: 1rem;
    font-family:sans-serif;

}
.stopwatch:hover{
    background-color: black;
    color:rgb(255, 187, 0);
}